/* Global Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #282828;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 1200px;
}

section{
    padding: 10px;
}

p{
    font-size: 1.55vw;;
}

/* Header Style */
header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
}
header a{
    text-decoration: none;
    color: white;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Style */
.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: black;
    background-image: url(../assets/images/Portfolio-Header.png);
    height: 200px;
}

.hero-text{
    display: flex;
    align-items: flex-end;

}

/* About Me Section Style */

.about-me{
    margin: 30px 10px;
    padding-bottom: 30px;
    display: flex;
}

.about-me h3{
    padding-right: 20px;
    border-right: 1px solid white;
    width: 10%;
    min-width: 80px;
    font-size: 1.65vw;
}

.about-me-content{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.about-me-content img{
    width: 20%;
    padding: 0px 10px 10px 0px;
    max-width: 100%;
    max-height: 100%;
}

.about-me-content-p1{
    width: 80%;
}

.about-me-content-p2{
    width: 100%;
    padding-top: 20px;
}

/*Projects Styling*/
.projects{
    margin: 30px 10px;
    padding-bottom: 30px;
    display: flex;
}
.projects-images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h3{
    padding-right: 42px;
    border-right: 1px solid white;
    width: 10%;
    min-width: 80px;
    font-size: 1.65vw;
    min-width: 80px;
}

.projects-main-content{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.projects-secondary-content{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.projects-main-content img{
    padding: 10px;
    max-width: 100%;
}

.projects-secondary-content img{
    padding: 10px;
    width: 50%;
    max-width: 350px;
}

/* Contact Me Section Styling */
.contact-me{
    margin: 30px 10px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    align-items: center;
}

.contact-me h3{
    padding-right: 38px;
    border-right: 1px solid white;
    width: 10%;
    min-width: 80px;
    font-size: 1.65vw;
}

.contact-me-info a{
    text-decoration: none;
    color: white;
}

.contact-me div{
    width: 90%;
}
.contact-me-info ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 7px 0;
    width: 80%;
}

.contact-me-info ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Media Query Re-Sizing */

@media screen and (maxwidth: 768px){
    
}

@media screen  and (max-width:575px){

}

@media screen  and (max-width:320px) {

}

