/* Global Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #282828;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

section{
    padding: 10px;
}

p{
    font-size: 15px;
}

.section-heading{
    border-right: 1px solid white;
    width: 10%;
    min-width: 50px;
    font-size: 17px;
}

/* Header Style */
header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
}
header a{
    text-decoration: none;
    color: white;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 24px;
}

/* Hero Style */
.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: black;
    background-image: url(../assets/images/Portfolio-Header.png);
    height: 200px;
}

.hero-text{
    display: flex;
    align-items: flex-end;

}

/* About Me Section Style */

.about-me{
    margin: 30px 10px;
    padding-bottom: 30px;
    display: flex;
}

.about-me h3{
    padding-right: 20px;
}

.about-me-content{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.about-me-content img{
    width: 20%;
    padding: 0px 10px 10px 0px;
    min-width: 200px;
    min-height: 150px;
}

.about-me-content-p1{
    width: 70%;
}

.about-me-content-p2{
    padding-top: 10px;
    width: 100%;
}

/*Projects Styling*/
.projects{
    margin: 30px 10px;
    padding-bottom: 30px;
    display: flex;
}
.projects-images{
    display: flex;
    flex-direction: column;
}

.projects h3{
    padding-right: 42px;
}

.projects-main-content{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.projects-secondary-content{
    display: flex;
    flex-wrap: wrap;
}

.projects-main-content img{
    padding: 0px 10px 10px 10px;
    max-width: 750px;
}

.projects-secondary-content img{
    max-width: 350px;
}

.projects-secondary-content a {
    width: 50%;
    padding: 10px;
}

/* Contact Me Section Styling */
.contact-me{
    margin: 30px 10px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.contact-me h3{
    padding-right: 30px;
}

.contact-me-info{
    display: flex;
}

.contact-me-info a{
    text-decoration: none;
    color: white;
}

.contact-me div{
    width: 90%;
}

.contact-me-info ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 7px 0;
    width: 80%;
}

.contact-me-info ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 17px;
}

/* Media Query Re-Sizing */

@media screen and (max-width: 873px){

header nav ul li a{
    font-size: 16px;
}

.section-heading{
    font-size: 14px;
}

.about-me h3{
width: 10.4%;
}

.about-me-content{
    justify-content: center;
}

.about-me-content img{
    width: 100%;
    max-width: 190px;
}

.about-me-content-p1 {
    width: 100%;
}
.about-me-content-p2 {
    width: 100%;
}
.projects h3{
    width: 11%;
}

.contact-me-info ul li a{
    font-size: 14px;
}

}

@media screen  and (max-width:575px){

header {
    flex-direction: column;
    align-items: center;
}

header nav ul li a{
    font-size: 14px;
}
        
p{
    font-size: 10px;
}
        
.section-heading{
    font-size: 12px;
}
        
.hero{
    justify-content: center;
}
        
.about-me h3{
    width: 10.2%;
}
        
.projects h3{
    width: 12%;
}
.contact-me-info ul li a{
    font-size: 10px;
}

}

@media screen and (max-width:425px) {

.about-me-content{
    justify-content: center;
}

.section-heading{
    font-size: 9px;
}
p{
    font-size: 8px;
}
.contact-me-info ul li a{
    font-size: 8px;
}

    
}

@media screen  and (max-width:345px) {

header{
    justify-content: center;
}


.section-heading {
    border-right: 1px solid white;
    width: 12%;
    min-width: 50px;
    font-size: 10px;
}

.contact-me-info ul{
    flex-wrap: nowrap;
    justify-content: flex-start;
}


}