/* Global Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #282828;
    font-family: Helvetica, Arial, sans-serif;
}

section{
    padding: 20px;
}

/* Header Style */
header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
}
header a{
    text-decoration: none;
    color: white;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Style */
.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: black;
    background-image: url(../assets/images/Portfolio-Header.png);
    height: 200px;
}

.hero-text{
    display: flex;
    align-items: flex-end;

}

/* About Me Section Style */

.about-me{
    margin: 50px 10px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.about-me h3{
    padding-right: 20px;
    border-right: 1px solid white;
}

.about-me-content{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 80%;
}

.about-me-content img{
    width: 20%;
    padding: 0px 10px 10px 0px;
}

.about-me-content-p1{
    width: 80%;
}

.about-me-content-p2{
    width: 100%;
    padding-top: 20px;
}

